In [1]:
from google.colab import drive

In [2]:
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
import pandas as pd

In [11]:
data = pd.read_csv("/content/drive/MyDrive/concat3/final.csv", index_col=0)
data

     state/region     ages  year   population          state  area (sq. mi)
0              AL  under18  2012    1117489.0        Alabama        52423.0
1              AL    total  2012    4817528.0        Alabama        52423.0
2              AL  under18  2010    1130966.0        Alabama        52423.0
3              AL    total  2010    4785570.0        Alabama        52423.0
4              AL  under18  2011    1125763.0        Alabama        52423.0
...           ...      ...   ...          ...            ...            ...
2539          USA    total  2010  309326295.0  United States            NaN
2540          USA  under18  2011   73902222.0  United States            NaN
2541          USA    total  2011  311582564.0  United States            NaN
2542          USA  under18  2012   73708179.0  United States            NaN
2543          USA    total  2012  313873685.0  United States            NaN

[2544 rows x 6 columns]

1. Select subsets of data (final dataset (US States Data) from prev. lab)
based on ‘state\region’ column. Output the number of observation in
each group.

In [14]:
data.groupby("state/region")["state/region"].count()

state/region
AK     48
AL     48
AR     48
AZ     48
CA     48
CO     48
CT     48
DC     48
DE     48
FL     48
GA     48
HI     48
IA     48
ID     48
IL     48
IN     48
KS     48
KY     48
LA     48
MA     48
MD     48
ME     48
MI     48
MN     48
MO     48
MS     48
MT     48
NC     48
ND     48
NE     48
NH     48
NJ     48
NM     48
NV     48
NY     48
OH     48
OK     48
OR     48
PA     48
PR     48
RI     48
SC     48
SD     48
TN     48
TX     48
USA    48
UT     48
VA     48
VT     48
WA     48
WI     48
WV     48
WY     48
Name: state/region, dtype: int64

2. Calculate mean value of population for each state.

In [16]:
data.groupby("state/region")["population"].mean()

state/region
AK     4.164389e+05
AL     2.797862e+06
AR     1.686640e+06
AZ     3.337577e+06
CA     2.170908e+07
CO     2.727803e+06
CT     2.128442e+06
DC     3.496533e+05
DE     4.979201e+05
FL     1.008313e+07
GA     5.285421e+06
HI     7.781240e+05
IA     1.831789e+06
ID     8.576250e+05
IL     7.757703e+06
IN     3.838380e+06
KS     1.703569e+06
KY     2.536397e+06
LA     2.811572e+06
MA     3.891187e+06
MD     3.357502e+06
ME     7.906852e+05
MI     6.157709e+06
MN     3.108525e+06
MO     3.522333e+06
MS     1.794283e+06
MT     5.716055e+05
NC     5.140725e+06
ND     4.066764e+05
NE     1.087942e+06
NH     7.675910e+05
NJ     5.227053e+06
NM     1.175271e+06
NV     1.310279e+06
NY     1.171282e+07
OH     7.079279e+06
OK     2.192022e+06
OR     2.146920e+06
PA     7.615765e+06
PR     2.367490e+06
RI     6.390411e+05
SC     2.569703e+06
SD     4.840280e+05
TN     3.579156e+06
TX     1.381758e+07
USA    1.782390e+08
UT     1.536009e+06
VA     4.494164e+06
VT     3.735618e+05
WA     3.747736e+06
WI     3.371227e+06
WV     1.114171e+06
WY     3.212865e+05
Name: population, dtype: float64

3. Output the min value of population for each state and year.

In [17]:
data.groupby(["state/region", "year"])["population"].min()

state/region  year
AK            1990    177502.0
              1991    182180.0
              1992    184878.0
              1993    187190.0
              1994    187439.0
                        ...
WY            2009    134960.0
              2010    135351.0
              2011    135407.0
              2012    136526.0
              2013    137679.0
Name: population, Length: 1272, dtype: float64

4. Select subsets of data based on ‘year’ column. Calculate sum of
population for each year.

In [18]:
data.groupby("year")["population"].sum()

year
1990    627682652.0
1991    636587920.0
1992    646046816.0
1993    655027066.0
1994    663533524.0
1995    671503086.0
1996    679255606.0
1997    687135340.0
1998    694571044.0
1999    701972464.0
2000    713976868.0
2001    720176600.0
2002    726012052.0
2003    731294092.0
2004    737068863.0
2005    742921345.0
2006    749079009.0
2007    755257832.0
2008    761103707.0
2009    766472596.0
2010    771509855.0
2011    775525479.0
2012    779657013.0
2013    783858576.0
Name: population, dtype: float64

5. By using aggregate() method output median, std and max value for
each state

In [28]:
gb_pop = data.groupby("state/region").population
gb_pop

In [35]:
gb_agg = gb_pop.agg(["median", "std", "max"])
gb_agg

                   median           std          max
state/region
AK               372963.0  2.349527e+05     735132.0
AL              2592491.0  1.712509e+06    4833722.0
AR              1534266.5  1.025828e+06    2959373.0
AZ              2656374.0  2.093351e+06    6626624.0
CA             19689006.0  1.288952e+07   38332521.0
CO              2272775.0  1.702535e+06    5268367.0
CT              2071541.0  1.328675e+06    3596080.0
DC               344426.0  2.404787e+05     646449.0
DE               437890.0  3.134898e+05     925749.0
FL              8532202.5  6.646536e+06   19552860.0
GA              4501743.0  3.225371e+06    9992167.0
HI               712352.0  4.863902e+05    1404054.0
IA              1757177.5  1.119580e+06    3090416.0
ID               720672.5  5.027190e+05    1612136.0
IL              7349130.0  4.672268e+06   12882135.0
IN              3584646.0  2.318553e+06    6570902.0
KS              1604539.0  1.012639e+06    2893957.0
KY              2358863.5  1.563825e+06    4395295.0
LA              2735822.0  1.648987e+06    4625470.0
MA              3761749.0  2.476977e+06    6692824.0
MD              3091610.0  2.065334e+06    5928814.0
ME               771644.5  5.023038e+05    1330509.0
MI              5953716.5  3.711610e+06   10055315.0
MN              2840559.0  1.877168e+06    5420380.0
MO              3280113.0  2.149396e+06    6044171.0
MS              1677279.5  1.050380e+06    2991207.0
MT               518746.5  3.506990e+05    1015165.0
NC              4474810.5  3.255546e+06    9848060.0
ND               403960.5  2.504543e+05     723393.0
NE              1023004.0  6.483032e+05    1868516.0
NH               711336.0  4.792530e+05    1323459.0
NJ              4946007.0  3.237715e+06    8899339.0
NM              1020168.5  6.914405e+05    2085287.0
NV               943368.0  8.808592e+05    2790136.0
NY             11354079.0  7.297249e+06   19651127.0
OH              6880768.5  4.310862e+06   11570808.0
OK              2047926.0  1.319689e+06    3850568.0
OR              1863284.5  1.348440e+06    3930065.0
PA              7422769.5  4.807634e+06   12773801.0
PR              2352074.5  1.424050e+06    3826878.0
RI               627342.5  4.079193e+05    1074579.0
SC              2290566.5  1.593155e+06    4774839.0
SD               452772.0  2.858154e+05     844877.0
TN              3194791.0  2.232607e+06    6495978.0
TX             12049370.5  8.142716e+06   26448193.0
USA           161878490.5  1.088570e+08  316128839.0
UT              1313906.0  8.337307e+05    2900872.0
VA              4040709.5  2.819406e+06    8260405.0
VT               358144.0  2.356350e+05     626630.0
WA              3249419.0  2.319298e+06    6971406.0
WI              3137501.0  2.056130e+06    5742713.0
WV              1114672.5  7.170100e+05    1856680.0
WY               295711.5  1.929180e+05     582658.0

6. By using filter() method output 10 1st groups in which the standard deviation of population is larger than X=3.237715e+06.

In [44]:
gb_std = gb_agg.filter(items=["std"])
gb_std[gb_std["std"] > 3.237715e+06].head(10)

                       std
state/region
CA            1.288952e+07
FL            6.646536e+06
IL            4.672268e+06
MI            3.711610e+06
NC            3.255546e+06
NJ            3.237715e+06
NY            7.297249e+06
OH            4.310862e+06
PA            4.807634e+06
TX            8.142716e+06